<%- include('partsadmin/top')%>
    <!-- Sidebar -->
    <%- include('partsadmin/sidebar')%>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <%- include('partsadmin/navbar')%>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">DataTables</h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">DataTables</li>
              </ol>
            </div>
  
            <!-- Row -->
            <div class="row">
              <!-- User Table -->
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Users Tables</h6>
                  </div>
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                      <thead class="thead-light">
                        <tr>
                          <th>Name</th>
                          <th>Gmail</th>
                          <th>Office</th>
                          <th>Age</th>
                          <th>Start date</th>
                          <th>number de res</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Gmail</th>
                          <th>Office</th>
                          <th>Age</th>
                          <th>Start date</th>
                          <th>number de res</th>
                        </tr>
                      </tfoot>
                      <tbody>

                        <<% for (let user of users) {%>
                          <tr>
                          <td><%=user.name%></td>
                          <td><%=user.email%></td>
                          <td>----------</td>
                          <td>----------</td>
                          <td>-----------</td>
                          <td>-----------</td>
                          <% } %>
                         
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- salle tables 
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Salles table</h6>
                  </div>
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush" id="dataTable">
                      <thead class="thead-light">
                        <tr>
                          <th>Name</th>
                          <th>Capaciter</th>
                          <th>Prix</th>
                          <th>Equipements</th>
                          <th>Disponibilité/th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Capaciter</th>
                          <th>Prix</th>
                          <th>Equipements</th>
                          <th>Disponibilité/th>
                          <th>Action</th>
                        </tr>
                      </tfoot>
                      <tbody>
                         
                       
                          <<% for (let salle of salles) {%>
                            <tr>
                            <td><%=salle.name%></td>
                            <td><%=salle.capacity%></td>
                            <td><%=salle.prix_heure%></td>
                            <td><% for (let equi of salle.facilities) {%>
                              <li><i ><%=equi%></i></li>
                              <% } %> </td>
                            <td><% for (let av of salle.availability) {%>
                              <li><i ><%=av%></i></li>
                              <% } %> </td>
                            <td><i></i></td>
                          </tr>
                          <% } %>
                        
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>-->
             
            </div>
            <!--Row-->
  
          
  
            <!-- Modal Logout -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <a href="/" class="btn btn-primary">Logout</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        <!---Container Fluid-->
     
  </div>

  <%- include('partsadmin/bottom')%>